<section id="contact_mails">
  <h5>お問い合わせフォーム</h5><br><br>

  <%= form_with model: @contact, url: complete_mail_path, html: { method: :get } do |f| %> 

    <div class="form-group">
      <label>お名前 <span class="label label-danger">必須</span></label>
      <%= f.text_field :name, class: "form-control", placeholder: "(例) ○○ 太朗",  required: true %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
    <br>
    <div class="form-group">
      <label>返信先メールアドレス <span class="label label-danger">必須</span></label>
      <%= f.text_field :email, class: "form-control", placeholder: "(例) xxxxxx@gmail.com", required: true %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
    <br>
    <div class="form-group">
      <label>件名 </label>
      <%= f.text_field :subject, class: "form-control", placeholder: "(例) ○○について" %>
      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>
    <br>
    <div class="form-group">
      <label>お問い合わせ内容 <span class="label label-danger">必須</span></label>
      <%= f.text_area :message, class: "form-control", placeholder: "お問い合わせ内容", rows: "7", required: true %>

      <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      <div class="help-block with-errors"></div>
    </div>

    <div class="col text-center">
    <%= f.submit "送信", class: "btn btn-primary btn-lg w-25" %>
    </div>
  <% end %>
</section>