<h3>ユーザー編集</h3>

<%= form_with model: @user,local: true do |f| %>
  <% if session[:google_image] %>
    <p>画像を変更したい場合はGoogleアカウントにて変更してください</p>
  <% else %>
    <div class="form_group">
      <label>プロフィール画像：</label>
      <%= f.file_field :image %>
    </div>
  <% end %>

  <div class="form_group">
    <label>お名前：</label>
    <%= f.text_field :nickname, :placeholder => "お名前を入力して下さい"%>
  </div>

  <div class="form_group">
    <label>メールアドレス：</label>
    <%= f.text_field :email, :placeholder => "メールアドレスを入力して下さい"%>
  </div>

  <div class="form_group">
    <%= f.fields_for :user_skills, @user.user_skills.build do |sk| %>
      <label>スキル：</label>
      <%= sk.collection_select :skill, Skill.all, :skill, :skill,{:prompt => ""}, {multiple: true} %>
    <% end %>
  </div>

  <div class="btn_group">
    <div class="btn_update">
      <%= f.submit "更新", data: { confirm: "更新しますか？"}, class: "btn btn-success"  %>
    </div>

    <div class="btn_cancel">
      <%= link_to 'キャンセル', user_path(current_user), class:"btn　btn-success"  %>
    </div>
  </div>
<% end %>