<%= stylesheet_link_tag "_users", :media => "all" %>

<div class="mypage">
  <div class="title">
    <h3>マイページ</h3>
  </div>

  <div class="profile">
    <div class="image">
      <% if @user.image? %>
        <%= image_tag @user.image.url %>
      <% else %>
        <img src="<%= session[:google_image] %>">
      <% end %>
    </div>

    <div class="nickname">
      <label>お名前：</label> <%= @user.nickname %>
    </div>
    <div class="email">
      <label>Eメールアドレス：</label> <%= @user.email %>
    </div>
  </div>

  <div class="btn_group">
    <%= link_to '編集', edit_user_path(@user), class:"btn"  %>
  </div>
</div>