<h2>イベント</h2>
<%= link_to  "もっとみる", "#" %>
<h2>メニュー</h2>
<%= link_to  "もっとみる", "#" %>
<h2>フリーランス</h2>
<%= link_to  "もっとみる", "#" %>
<h2>アクセス</h2>
<h2>ニュース一覧</h2>
<% @news.each do |new| %>
  <%= new.title %>
  <%= new.contents %>
<% end %>
